[Desktop Entry]
Name=GHemical
Comment=Molecules 3D drawing program
Comment[cs]=Editor molekul 3d
Comment[de]=Moleküleditor 3d
Comment[pl]=Edytor molekuł 3d
Exec=ghemical
Icon=ghemical
Terminal=false
MultipleArgs=false
Type=Application
Categories=GTK;GNOME;Education;Science;Chemistry;
# vi: encoding=utf-8
