[Desktop Entry]
Name=GHemical
Comment=Molecules 3D drawing program
Comment[cs]=Editor molekul 3d
Comment[de]=Moleküleditor 3d
Comment[pl]=Edytor molekuł 3d
Exec=ghemical
Icon=ghemical.xpm
Terminal=false
MultipleArgs=false
Type=Application
Encoding=UTF-8
Categories=Science;Chemistry;
# vi: encoding=utf-8
